<a data-pin-config="above" href="//pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.salirdefiestas.com%2Ffoto%2F{{ foto.id }}&media=http%3A%2F%2Fwww.salirdefiestas.com%2Fuploads%2Ffotos%2F{{ foto.imageName }}&description={{ foto.titulo }}" data-pin-do="buttonPin" >
		<img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
		<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>